body {
  font-family: Helvetica, 'Trebuchet MS', Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.button {
  border-radius: 0.25rem;
  background-color: rgb(59 130 246);
  padding: 0.5rem 1rem;
  font-weight: 700;
  color: white;
  cursor: pointer;
  border: none;
  transition: all 0.1s ease-in-out;
}

.openaikey-form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
.button:hover {
  background-color: rgb(29 78 216);
}

.message-container {
  width: 80%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.message {
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
}

.user {
  text-align: right;
  background-color: rgb(217 249 157);
  align-self: flex-end;
  margin-left: 1rem;
}

.assistant {
  text-align: left;
  background-color: rgb(229 229 229);
  align-self: flex-start;
  margin-right: 1rem;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 16px;
}
.lds-ellipsis div {
  position: absolute;
  top: 7px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #000;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 2px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 2px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 10px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 20px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(10px, 0);
  }
}

